<!DOCTYPE HTML>
<html>
<head>
    <div th:replace="/fragments/resources :: headTags"></div>
    <title>Menu</title>
</head>
<header>
	<div class="container-fluid bg-danger pt-4 pb-5"></div>
</header>
<body>
	<div class="container">
		<h1>Le nostre pizze</h1>
		<hr>
        <div class="row" th:each="item : ${pizza}">
	        <div class="col gy-2 d-inline" th:text="${item.nome}"></div>
	        <div class="col gy-2 d-inline" th:text="${item.ingredientiToString()}"></div>
	        <div class="col gy-2 d-inline" th:text="${item.prezzo} + &euro;"></div>
	        <div class="col gy-2 d-inline">
	            <a class="btn btn-danger" th:href="@{|/menu/modifica/${item.id}|}"><i class="fas fa-pencil-alt"></i></a>
		        <a class="btn btn-danger" th:href="@{|/menu/cancella/${item.id}|}"><i class="fas fa-trash-alt"></i></a>
	        </div>
    </div>
		<div>
			 <a class="btn btn-danger" th:href="@{/menu/aggiungipizza}"><i class="fas fa-plus"></i> Aggiungi pizza</a>
		</div>
	</div>
	<div th:replace="/fragments/resources :: scripts"></div>
</body>
</html>



